doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  body!= body

include header

h1 BLOG

<img src="images/images.png">
p.general Se podría decir que el blog nació en 1994 de la mano de Justin Hall, un estudiante que creó una página web (www.links.net) a modo de diario personal donde hablaba de «secretos» familiares, sus relaciones sexuales, sus flirteos con las drogas, etc.
p.general Así que se lio una bien gorda.
p.general Imagina lo que sería contar todas estas intimidades por aquel entonces y a través de Internet, cuando la red de redes no era tan «abierta» como ahora…


include footer
