
nav
    div
             
        a(href="index") Home
        a(href="sobreNosotros") About
        a(href="servicios") Servicios
        a(href="blog") Blog  
        a(href="nuestraHistoria") Nuestra Historia
        a(href="enviar_mensaje") Contacto
        a(href="enviar_mensaje2") Contacto2
        a(href="varLocal") Var Locales
        a(href="https://www.privalia.com/", target="_blank") Privalia     
        a(href="https://www.privatesportshop.es/", target="_blank") PSS     
        a(href="https://www.xataka.com/", target="_blank") Xataca        
        a(href="http://www.jimcwebs.com", target="_blank") jimcwebs
        a(href="https://www.google.com/", target="_blank") Google
       
            