doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  body!= body

include header

h1 NUESTRA HISTORIA
p.general Podríamos deciros que la idea nació de un gran momento de inspiración, de largas horas de brainstorming o de un milimétrico plan de negocio, pero aquí no vamos a engañar a nadie. Como la mayor parte de grandes ideas descabelladas y aparentemente ridículas, nació de esa famosa frase... ¡A que no hay hu....!

include footer
