doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  body!= body

include header

h1 SERVICIOS
ol
li.general Reparaciones de Moviles, Tablet
li.general Reparaciones de Apple, MacBook, iMac
li.general Reparaciones de Portátiles Windows, PC
li.general Venta de accesorios
li.general Distribuidor Oficial de operadores
li.general Sustitución de componente
li.general Mantenimiento de pagina Web
br
br

include footer
